html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #191c1f;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}
